
{% extends 'base.html' %}
{% block title %}
    Devices
{% endblock title %}


{% block page_title %}
    Devices List
{% endblock page_title %}

{% block content %}
    <div class=" my-5">
        <form action=""  method="GET">
            <div class="form-row">
                <div class="form-group col-md-4 col-lg-4">
                    <label for="minDate">From</label>
                    <input type="date" class="form-control" name="min_date" id="minDate" placeholder="min_date" required>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="project_name">Project Title</label>
                    <input type="text" class="form-control" name="project_name" id="project_name" required placeholder="Project Title">
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="item_type">Device Type</label>
                    <select class="form-control" id="project" name="item_type" required>
                    <option></option>
                    {% for project_obj in project_objs %}
                        <option value="{{ project_obj.item_type }}">{{ project_obj.item_type }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="submit-btn mt-5" >
                <button type="submit" class=" btn btn-lg btn-primary ">Search</button>
            </div> 
        </form>
    </div>
    <div class="form-row  m-5">
        <div class="form-group col-md-6 col-lg-6">
            <h3 style="color: crimson;">{{ msg }}</h3>
        </div> 
    </div>
    <div class="row">
        {% for item in items %}
        <div class="card entry-card col-md-6">
            <div class="card-header">ID: {{item.pk}} | {{item.created_at}}  <span style="float: right;">{{ item.project.item_type }}</span></div>
            <div class="card-body">
                <div class="ocr-image-container">
                <img src="{{ item.img_path.url}}" alt="OCR Image" class="ocr-image" />
                </div>
                <div class="">
                <h5 style="margin-top: 10px;">{{ item.mac }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
{% endblock content %}