

{% extends 'base.html' %}

{% block title %}
  Projects List 
{% endblock title %}

{% block page_title %}
  Projects List
{% endblock page_title %}

{% block content %}

{% for project in projects %}
  <div class="card" style="margin-top: 5px;">
  <div class="card-body">
    <h5 class="card-title">
      {{ project.project_name }} 
      <span style="float: right;"><a href="{% url 'append-devices' project.pk %}" class=" btn btn-info btn-sm">Append Devices</a></span>
    </h5>
    
    <h6 class="card-subtitle mb-2 text-muted">{{ project.item_type }}</h6>
    <p class="card-text">{{ project.description }}</p>
    <a href="{% url 'excel-report' project.pk %}" class="card-link btn btn-outline-dark btn-sm" style="float:right">Excel Report</a>
    <a href="{% url 'project' project.pk %}" class="card-link btn btn-outline-primary btn-sm ">Project Devices</a>
  </div>
</div>
{% endfor %}

{% if projects.has_other_pages %}
<nav aria-label="Page navigation example" style="margin-top: 40px;" >
  <ul class="pagination justify-content-center">
    {% if projects.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in projects.paginator.page_range %}
      {% if projects.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only page-link">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if projects.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}      

{% endblock content %}